
<div class="page-wrapper" style="background: linear-gradient(to left, #FF5D3B , #FF2B67 )">

  <div class="show-banner-content text-center padded">
    <h1>Your halfway trips to <%= @city.name %> between <%= @trip_1.flights.first.departure_time.strftime("%b %d") %> and <%= @trip_1.flights.first.arrival_time.strftime("%b %d") %></h1>
    <p>“A journey is best measured in friends, rather than miles.” – Joseph Stalin</p>
  </div>
<div class="trips-container">
  <div class="trip">
    <h3 class="text-center">From <%= City.find_by(iata_code: @trip_2.flights.first.departure_airport_iata_code).name%></h3>
    <div class="trips-details">
      <ul class= "list-inline ">
        <li><p><%= @trip_2.flights.first.departure_airport_iata_code %> <%= @trip_2.flights.first.departure_time.strftime("%H:%M") %> -> <%= @trip_2.flights.first.arrival_airport_iata_code %> <%= @trip_2.flights.first.arrival_time.strftime("%H:%M") %></p></li>
        <!-- <li><div class="trip-show-submit-button">Change flight <i class="fa fa-edit"></i></div></li> -->
      </ul>
      <div class="flights-separator">
      </div>
      <ul class= "list-inline second-result">
        <li><p><%= @trip_2.flights.last.arrival_airport_iata_code %> <%= @trip_2.flights.last.departure_time.strftime("%H:%M") %> -> <%= @trip_2.flights.last.departure_airport_iata_code %> <%= @trip_2.flights.last.arrival_time.strftime("%H:%M") %></p></li>
        <!-- <li><div class="trip-show-submit-button">Change flight <i class="fa fa-edit"></i></div></li> -->
      </ul>
    </div>
    <h3 class="text-center"><%= @trip_1.price %>€</h3>
      <div class="book-button">Book!</div>
      <%= link_to "Change flights", root_path, class: "change-flights-link"  %>
  </div>
  <div class="trip-separator">

  </div>
    <div class="trip text-center">
    <h3 class="text-center">From <%= City.find_by(iata_code: @trip_1.flights.first.departure_airport_iata_code).name%></h3>
    <div class="trips-details">
      <ul class= "list-inline ">
        <li><p><%= @trip_1.flights.first.departure_airport_iata_code %> <%= @trip_1.flights.first.departure_time.strftime("%H:%M") %> -> <%= @trip_1.flights.first.arrival_airport_iata_code %> <%= @trip_1.flights.first.arrival_time.strftime("%H:%M") %></p></li>
        <!-- <li><div class="trip-show-submit-button">Change flight <i class="fa fa-edit"></i></div></li> -->
      </ul>
      <div class="flights-separator">

      </div>
      <ul class= "list-inline second-result">
        <li><p><%= @trip_1.flights.last.arrival_airport_iata_code %> <%= @trip_1.flights.last.departure_time.strftime("%H:%M") %> -> <%= @trip_1.flights.last.departure_airport_iata_code %> <%= @trip_1.flights.last.arrival_time.strftime("%H:%M") %></p></li>
        <!-- <li><div class="trip-show-submit-button">Change flight <i class="fa fa-edit"></i></div></li> -->
      </ul>
    </div>
    <h3 class="text-center"><%= @trip_2.price %>€</h3>
      <div class="book-button">Book!</div>
      <%= link_to "Change flights", root_path, class: "change-flights-link"  %>
  </div>
</div>
</div>
