<div class="banner" style="background-image: linear-gradient(-225deg, rgba(11,72,135,0.43) 0%, rgba(0,12,12,0.6) 86%),  url(<%= image_path 'background2.jpg'%>);">
  <div class="banner-content">
    <h1 class="slogan">Meet. Halfway </h1>
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
          <div class="search-form-box">
            <%= form_for @result do |f| %>
              <%= autocomplete_field_tag 'city1', '', autocomplete_city_name_results_path , placeholder: "Please indicate your city", class: "origin-field text-center", style: "border-color: rgba(0,0,0,0)" %>
                <%= f.text_field :date_there, placeholder: "Departure Date", "class" => 'datepicker',style: "border: none" %>
                <%= f.text_field :date_back,  placeholder: "Return Date", "class" => 'datepicker', style: "border: none" %>
               <%= autocomplete_field_tag 'city2', '', autocomplete_city_name_results_path, placeholder: "Please indicate your friend city", class: "origin-field-2 text-center", style: "border: none" %>
            <%end%>
          </div>
            <div class="submit-button">
              <%= link_to "Meet!", search_path , class: "btn btn-primary btn-lg text-center"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
 <script>
    $(document).ready(function() {
      $('.datepicker').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true
      });
    });
  </script>
<% end %>

            {:controller => "offers", :action => "show", :origin_a => , :origin_b => , :date_there => , :date_back =>  }  -->
