<div class="banner col-xs-12">
  <div class="banner-content">
  <div class="banner-title">
    <h1 class="slogan1">Meet </h1>
    <%= image_tag "plane.svg", class: "plane-img" %>
    <h1 class="slogan2"> Halfway </h1>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
          <div class="search-form-box">
            <%=form_tag offers_path, :controller => 'offers', method: :get, id: "new_result" do %>
               <%= select_tag :origin_a, options_for_select(Constants::AIRPORTS.invert.sort), class: "origin-field text-center", prompt: "Your city", style: "border:none" %>
                <div class="box-separator"></div>
               <%= text_field_tag :date_there, nil, placeholder: "Departure", "class" => 'datepicker text-center',style: "border: none" %>
                <div class="box-separator"></div>
               <%= text_field_tag :date_back, nil, placeholder: "Return", "class" => 'datepicker text-center', style: "border: none" %>
                <div class="box-separator"></div>
               <%= select_tag :origin_b, options_for_select(Constants::AIRPORTS.invert.sort), class: "origin-field text-center", prompt: "Your friend's city", style: "border:none" %>
          </div>
            <div >
              <%= submit_tag "Explore", class: "submit-button" %>
              <%end%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="wrapper1"> -->
<div class="banner2 col-md-12">
  <div class="banner-content text-center">
      <h1 class="banner2-title ">Why you should use Halfway</h1>
  </div>
  <div class="row2">
    <div class="unique-selling-propostion">
      <div class="search col-md-4 text-center">
        <%= image_tag "glasses.svg", class: "glasses-img" %>
        <p id="usp-title"> Search for you and your friend all in one place</p>
      </div>
      <div class="earth col-md-4 text-center">
      <%= image_tag "earth.svg", class: "earth-img" %>
      <p id="usp-earth"> Get inspiration to travel to new places</p>
      </div>
        <div class="medal col-md-4 text-center">
      <%= image_tag "medal.svg", class: "medal-img" %>
      <p id="usp-title"> Find the best deals to meet halfway</p>
      </div>
     </div>
   </div>

    <!--  <div class="wrapper_background1 has-section">
       <div class="background_element1"></div>
       <div class="background_element1"></div>
   </div> -->
</div>

<%= content_for :after_js do %>
 <script>
    $(document).ready(function() {
      $('#date_there').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'yyyy-mm-dd',
      });
      $('#date_back').datepicker({
        todayHighlight: true,
        orientation: "bottom-left",
        autoclose: true,
        format: 'yyyy-mm-dd',
      }).on("show", function(e) {
          var thereDate = $("#date_there").datepicker("getDate");
          var backDate = $("#date_back").datepicker("getDate");

          if (backDate == null) {
            $('#date_back').datepicker('update', thereDate);
          }
      });
    });
  </script>
<% end %>
