<%# MODAL CHANGE FLIGHTS LEFT %>
<div class="modal fade" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose better times</h4>
      </div>
      <div class="modal-body">
        <% trips = these_trips %>
        <% trips = trips.reject { |t| t.trip_id == this_trip.trip_id } %>
        <% trips.each do |trip| %>
        <div class="flight-option">
          <div class="outbound-option">
            <h2 class="text-center">Outbound</h2>
            <div class="airports-option text-center">
              <%= trip.origin_airport  %> to <%= trip.destination_airport %>
            </div>
            <div class="hours-option text-center">
              <%= trip.departure_time_there.strftime("%H:%M") %> <i class="fa fa-plane"></i> <%= trip.arrival_time_there .strftime("%H:%M")%>
            </div>
          </div>
          <div class="return-option">
            <h2 class="text-center">Return</h2>
            <div class="airports-option text-center">
              <%= trip.destination_airport %> to
              <%= trip.origin_airport  %>
            </div>
            <div class="hours-option text-center">
              <%= trip.departure_time_back.strftime("%H:%M") %> <i class="fa fa-plane"></i>
              <%= trip.arrival_time_back.strftime("%H:%M") %>
            </div>
          </div>
          <div class="price-option text-center">
            <%= Constants::AIRLINES[trip.carrier] %>
            <h4 class="text-center">€<%= trip.price %></h4>
            <p style="color: <%= price_difference_styling(trip.price,this_trip.price)%>"> <%= price_difference_text(trip.price, this_trip.price) %></p>
          </div>
          <div class="option-select text-center">
            <%= link_to controller: :offers, action: :show, right: eval(right_link), left: eval(left_link) do %>
            <button class="btn btn-primary">Select</button>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# END MODAL CHANGE FLIGHT LEFT %>
