<% airports = {
    "PAR" => "Paris",
    "LON" => "London",
    "ROM" => "Roma",
    "MAD" => "Madrid",
    "BER" => "Berlin",
    "BRU" => "Brussels",
    "ATH" => "Athens",
    "MIL" => "Milano",
    "VCE" => "Venice",
    "AMS" => "Amsterdam",
    "LIS" => "Lisbon",
    "DUB" => "Dublin",
    "HEL" => "Helsinki",
    "BCN" => "Barcelona",
    "LCA" => "Cyprus",
    "FLR" => "Florence",
    "MLA" => "Malta",
    "VIE" => "Vienna",
    "RIX" => "Riga",
    "VNO" => "Vilnius",
    "BRU" => "Brussels" } %>


<div class="wrapper">
  <div class="action_title text-center">
    <h2> Where will you meet ? </h2>
    <div class="total_date_title">
      <p> Best cities to get from <%= airports[params[:origin_a].upcase] %> and <%= airports[params[:origin_b].upcase] %> between <%= @offers.first.date_there.strftime("%b %d")  %> and <%= @offers.first.date_back.strftime("%b %d") %></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @offers.each do |offer| %>
      <div class="col-xs-12 col-md-6">
        <div class="card_wrapper" style="background-image:
        url('<%= cl_image_path City.find_by(iata_code: offer.destination_city).card_photo.path, :width=>0.5%>')">
        <div class="card_data">
          <div class="card_content">
            <div class="card_title">
              <ul class="list-unstyled">
                <li class="card_destination"><%= airports[offer.destination_city]%></li>
              </ul>
              <ul class="list-unstyled">
                <li class="card_total_price"><%= offer.total.floor %>€ <small>for 2</small></li>
              </ul>
            </div>
            <div class="card_text">
              <div class="card_text_element">
                <p class="card_origin_city text-center" style="margin-bottom: 20px">from <%= airports[offer.origin_a]%> <%= offer.roundtrips.first.origin_airport %></p>
                <ul class="list-unstyled">
                  <li> Outbound <span style="padding-left: 6px"><%= offer.roundtrips.first.departure_time_there.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.first.arrival_time_there.strftime("%H:%M") %> </span> </li>
                  <li> Return <span style="padding-left: 30px"><%= offer.roundtrips.first.departure_time_back.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.first.arrival_time_back.strftime("%H:%M") %> </span> </li>
                </ul>
                <div class="price text-center" style= "margin-top: 30px">
                  <p><strong><%= offer.roundtrips.first.price.round %>€</strong></p>
                </div>
              </div>
              <div class="card_text_element card_separator"></div>
              <div class="card_text_element">
                <p class="card_origin_city text-center" style="margin-bottom: 20px">from <%= airports[offer.origin_b] %>  <%= offer.roundtrips.last.origin_airport %></p>
                <ul class="list-unstyled">
                  <li> Outbound <span style="padding-left: 6px"><%= offer.roundtrips.last.departure_time_there.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.last.arrival_time_there.strftime("%H:%M") %> </span> </li>
                  <li> Return <span style="padding-left: 30px"> <%= offer.roundtrips.last.departure_time_back.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.last.arrival_time_back.strftime("%H:%M") %></span></li>
                </ul>
                <div class="price text-center" style= "margin-top: 30px">
                  <p><strong><%= offer.roundtrips.last.price.round %>€</strong></p>
                </div>
              </div>
            </div>
            <div class="card_bottom"></div>
          </div>
        </div>
        <%= form_tag city_trips_path(City.find_by(iata_code: offer.destination_city)) do %>
          <%= hidden_field_tag 'price_1',offer.roundtrips.first.price %>
          <%= hidden_field_tag 'price_2', offer.roundtrips.last.price %>
          <%= hidden_field_tag 'flight_1_departure_time',offer.roundtrips.first.departure_time_there  %>
          <%= hidden_field_tag 'flight_1_arrival_time', offer.roundtrips.first.arrival_time_there %>
          <%= hidden_field_tag 'flight_1_carrier', offer.roundtrips.first.carrier %>
          <%= hidden_field_tag 'flight_1_departure_airport', offer.roundtrips.first.origin_airport %>
          <%= hidden_field_tag 'flight_1_arrival_airport', offer.roundtrips.first.destination_airport %>
          <%= hidden_field_tag 'flight_1_price', offer.roundtrips.first.price %>
          <%= hidden_field_tag 'flight_2_departure_time',offer.roundtrips.first.departure_time_back  %>
          <%= hidden_field_tag 'flight_2_arrival_time', offer.roundtrips.first.arrival_time_back %>
          <%= hidden_field_tag 'flight_2_carrier', offer.roundtrips.first.carrier %>
          <%= hidden_field_tag 'flight_2_departure_airport', offer.roundtrips.first.origin_airport %>
          <%= hidden_field_tag 'flight_2_arrival_airport', offer.roundtrips.first.destination_airport %>
          <%= hidden_field_tag 'flight_2_price', offer.roundtrips.first.price %>
          <%= hidden_field_tag 'flight_3_departure_time',offer.roundtrips.last.departure_time_there  %>
          <%= hidden_field_tag 'flight_3_arrival_time', offer.roundtrips.last.arrival_time_there %>
          <%= hidden_field_tag 'flight_3_carrier', offer.roundtrips.last.carrier %>
          <%= hidden_field_tag 'flight_3_departure_airport', offer.roundtrips.last.origin_airport %>
          <%= hidden_field_tag 'flight_3_arrival_airport', offer.roundtrips.last.destination_airport %>
          <%= hidden_field_tag 'flight_3_price', offer.roundtrips.last.price %>
          <%= hidden_field_tag 'flight_4_departure_time',offer.roundtrips.last.departure_time_back  %>
          <%= hidden_field_tag 'flight_4_arrival_time', offer.roundtrips.last.arrival_time_back %>
          <%= hidden_field_tag 'flight_4_carrier', offer.roundtrips.last.carrier %>
          <%= hidden_field_tag 'flight_4_departure_airport', offer.roundtrips.last.origin_airport %>
          <%= hidden_field_tag 'flight_4_arrival_airport', offer.roundtrips.last.destination_airport %>
          <%= hidden_field_tag 'flight_4_price', offer.roundtrips.last.price %>
          <%= submit_tag 'Save', class: "card-link" %>
        <% end %>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-md-6">
        <div class="card_wrapper last_card_home text-center">
          <%= link_to "", root_path, class: "card-link" %>
          <h3 >Did not find what you wanted? <br> Let's make a new search !</h3>
          <div class="card_data">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
