<div class="wrapper">
  <div class="total_date_title">
    <h2 class="text-center"> Your trip from Lisbon and Vilnius
    <br> on 12 february <%#= offer.date_there %> - </i> 15 february<%#= offer.date_back %> </h2>
  </div>
  <div class="container">
    <div class="row">
      <% @offers.each do |offer| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card_wrapper" style="background-image:
        url('<%= cl_image_path City.find_by(iata_code: offer.destination_city).card_photo.path, :width=>0.5%>')">
        <div class="card_data">
          <div class="card_content">
            <div class="card_title">
              <ul class="list-unstyled">
                <li class="card_destination"><%= City.find_by(iata_code: offer.destination_city).name.capitalize %></li>
              </ul>
              <ul class="list-unstyled">
                <li class="card_total_price"><%= offer.total.floor %>€ <small>for 2 people</small></li>
              </ul>
            </div>
            <div class="card_text">
              <div class="card_text_element">
                <p class="card_origin_city text-center" style="margin-bottom: 20px">from <%= Airport.find_by(iata_code: offer.roundtrips.first.origin_airport).city.name  %> <%= offer.roundtrips.first.origin_airport %></p>
                <ul class="list-unstyled">
                  <li> Outbund <%= offer.roundtrips.first.departure_time_there.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.first.arrival_time_there.strftime("%H:%M") %> </li>
                  <li> Return <span style="padding-left: 14px"><%= offer.roundtrips.first.departure_time_back.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.first.arrival_time_back.strftime("%H:%M") %> </span> </li>
                </ul>
                <div class="price text-center" style= "margin-top: 30px">
                  <p><strong><%= offer.roundtrips.first.price.round %>€</strong></p>
                </div>
              </div>
              <div class="card_text_element card_separator"></div>
              <div class="card_text_element">
                <p class="card_origin_city text-center" style="margin-bottom: 20px">from <%= Airport.find_by(iata_code: offer.roundtrips.last.origin_airport).city.name %>  <%= offer.roundtrips.last.origin_airport %></p>
                <ul class="list-unstyled">
                  <li> Outbund <%= offer.roundtrips.last.departure_time_there.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.last.arrival_time_there.strftime("%H:%M") %>  </li>
                  <li> Return <span style="padding-left: 14px"> <%= offer.roundtrips.last.departure_time_back.strftime("%H:%M") %> <i class="fa fa-fighter-jet"></i> <%= offer.roundtrips.last.arrival_time_back.strftime("%H:%M") %></span></li>
                </ul>
                <div class="price text-center" style= "margin-top: 30px">
                  <p><strong><%= offer.roundtrips.last.price.round %>€</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>

<%# PUSHER STUFF TODO: REMOVE FROM HERE WHHEN DONE TESTING %>

<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('f44cd385b4d5cfdad94c', {
    cluster: 'eu',
    encrypted: true
  });

  // var channel = pusher.subscribe('test_channel');
  // channel.bind('my_event', function(data) {
  //   alert(data.message);
  // });
</script>
