<section id="main">
<header class="header_cards">
<div class="action_title text-center">
      <div class="total_date_title">
        <p> Best cities to get from <%= Constants::AIRPORTS[params[:origin_a].upcase] %> and <%= Constants::AIRPORTS[params[:origin_b].upcase] %> between <%= Date.parse(params[:date_there]).strftime("%b %d") %> and <%= Date.parse(params[:date_back]).strftime("%b %d") %></p>
      </div>
    </div>
</header>
  <div class="filters">
    <ul class="list-inline text-center">
      <li>
        <div class="text-center links-box">
        <h3><i class="fa fa-plane"></i> Departure time </h3>
        <div class="option <%= departure_css_class_name('earlybird') %>">
          <%= link_to "5-8AM", offers_path(@filters.merge(departure_time_there: "earlybird")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="option <%= departure_css_class_name('morning') %>">
          <%= link_to "8-12AM", offers_path(@filters.merge(departure_time_there: "morning")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="option <%= departure_css_class_name('afternoon') %>">
          <%= link_to "1-6PM", offers_path(@filters.merge(departure_time_there: "afternoon")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="medium-option <%= departure_css_class_name('afterwork') %>">
          <%= link_to "After 6PM", offers_path(@filters.merge(departure_time_there: "afterwork")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="longer-option <%= departure_css_class_name(nil) %>">
          <%= link_to "I don't care", offers_path(@filters.merge(departure_time_there: "")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        </div>
      </li>
      <li>
        <div class="text-center links-box return-box">
          <h3><i class="fa fa-plane"></i> Return time</h3>
        <div class="option <%= arrival_css_class_name('earlybird') %>">
          <%= link_to "5-8AM", offers_path(@filters.merge(arrival_time_back: "earlybird")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="option <%= arrival_css_class_name('morning') %>">
          <%= link_to "8-12AM", offers_path(@filters.merge(arrival_time_back: "morning")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="option <%= arrival_css_class_name('afternoon') %>">
          <%= link_to "1-6PM", offers_path(@filters.merge(arrival_time_back: "afternoon")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="medium-option <%= arrival_css_class_name('evening') %>">
          <%= link_to "After 6PM", offers_path(@filters.merge(arrival_time_back: "evening")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="longer-option <%= arrival_css_class_name(nil) %>">
          <%= link_to "I don't care", offers_path(@filters.merge(arrival_time_back: "")) , class: "radio-btn"%>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        </div>
      </li>
    </ul>
  </div>
<div class="total_wrapper_cards">
  <div class="wrapper_background has-section">
    <div class="background_element"></div>
    <div class="background_element"></div>
  </div>
  <div class="home_cards_wrapper">

    <div class="container">
      <div class="row">
        <% @offers.each do |offer| %>
        <div class="col-xs-12 col-md-6">
          <div class="card_wrapper" style="background-image:
          url('<%= cl_image_path City.find_by(iata_code: offer.destination_city).card_photo.path, crop: :fill%> '); background-size: cover !important">
          <div class="card_data">
            <% unfiltered_for_city = @unfiltered_offers.select { |o| o.destination_city == offer.destination_city } %>
            <%= link_to "", offer_path(offer.stamp, left: 0, right: 0, start: unfiltered_for_city), class: "card-link" %>
            <div class="card_content">
              <div class="card_title">
                <ul class="list-unstyled">
                  <li class="card_destination"><%= Constants::AIRPORTS[offer.destination_city]%></li>
                </ul>
                <ul class="list-unstyled">
                  <li class="card_total_price"><%= offer.total.floor %>€ <small>for 2</small></li>
                </ul>
              </div>
              <div class="card_text">
                <div class="card_text_element">
                  <p class="card_origin_city text-center" style="margin-bottom: 25px">from <%= Constants::AIRPORTS[offer.origin_a]%> <%= offer.roundtrips.first.origin_airport %></p>
                  <p class="airline text-center"> <%= Constants::AIRLINES[offer.roundtrips.first.carrier]%> </p>
                  <ul class="list-unstyled">
                    <li> Outbound <br class="hide-on-mobile"> <span style="padding-left: 6px"><%= offer.roundtrips.first.departure_time_there.strftime("%H:%M") %> <i class="fa fa-long-arrow-right"></i> <%= offer.roundtrips.first.arrival_time_there.strftime("%H:%M") %> </span> </li>
                    <li> Return <br class="hide-on-mobile"> <span style="padding-left: 29px"><%= offer.roundtrips.first.departure_time_back.strftime("%H:%M") %> <i class="fa fa-long-arrow-right"></i> <%= offer.roundtrips.first.arrival_time_back.strftime("%H:%M") %> </span> </li>
                  </ul>
                  <div class="price text-center" style= "margin-top: 25px">
                    <p><strong><%= offer.roundtrips.first.price.round %>€</strong></p>
                  </div>
                </div>
                <div class="card_text_element card_separator"></div>
                <div class="card_text_element">
                  <p class="card_origin_city text-center" style="margin-bottom: 25px">from <%= Constants::AIRPORTS[offer.origin_b] %>  <%= offer.roundtrips.last.origin_airport %></p>
                  <p class="airline text-center"> <%= Constants::AIRLINES[offer.roundtrips.last.carrier]%> </p>
                  <ul class="list-unstyled">
                    <li> Outbound <br class="hide-on-mobile"> <span style="padding-left: 6px"> <%= offer.roundtrips.last.departure_time_there.strftime("%H:%M") %> <i class="fa fa-long-arrow-right"></i> <%= offer.roundtrips.last.arrival_time_there.strftime("%H:%M") %> </span> </li>
                    <li> Return <br class="hide-on-mobile"> <span style="padding-left: 29px"> <%= offer.roundtrips.last.departure_time_back.strftime("%H:%M") %> <i class="fa fa-long-arrow-right"></i> <%= offer.roundtrips.last.arrival_time_back.strftime("%H:%M") %></span></li>
                  </ul>
                  <div class="price text-center" style= "margin-top: 25px">
                    <p><strong><%= offer.roundtrips.last.price.round %>€</strong></p>
                  </div>
                </div>
              </div>
              <div class="card_bottom"></div>
            </div>
          </div>
          </div>
        </div>
        <% end %>
        <div class="col-xs-12 col-md-6">
          <div class="card_wrapper last_card_home text-center">
            <%= link_to "", root_path, class: "card-link" %>
            <h3 >Did not find what you want? <br> Let's make a new search !</h3>
            <div class="card_data">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
