<%# HEADER %>
<div class="page-wrapper page-wrapper-trip-show">
  <%# END HEADER %>

  <%# LEFT PART %>
  <div class="total_wrapper">
  <div class="wrapper_background has-section">
    <div class="background_element background-element-show"></div>
    <div class="background_element background-element-show"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-centered">
        <div class="trip">

          <div class="boarding-pass">
            <header>
              <p class="logo">
                Alitalia
              </p>
              <div class="flight">
                <small>flight</small>
                <strong>AZ 356</strong>
              </div>
            </header>
            <section class="cities">
              <div class="city city-left">
                <small>Milano</small>

                <strong>LIN</strong>
              </div>
              <i class="fa fa-arrows-h" aria-hidden="true"></i>
              <div class="city city-right">
                <small>Paris</small>

                <strong>ORY</strong>
              </div>
            </section>
            <section class="infos">
              <div class="places">
                <div class="box">
                  <small class="box-title">Outbound</small>
                  <strong><3</strong>
                </div>
                <div class="box">
                  <small>Duration</small>
                  <strong>1h</strong>
                </div>
                <div class="box">
                  <small>Departure</small>
                  <strong>7:25</strong>
                </div>
                <div class="box">
                  <small>Arrival</small>
                  <strong>7:45</strong>
                </div>
              </div>
              <div class="times">
                <div class="box">
                  <small class="box-title">Return</small>
                  <strong><3</strong>
                </div>
                <div class="box">
                  <small>Duration</small>
                  <strong>1h30</strong>
                </div>
                <div class="box">
                  <small>Departure</small>
                  <strong>01:10</strong>
                </div>
                <div class="box">
                  <small>Arrival</small>
                  <strong>21:30</strong>
                </div>
              </div>
            </section>
            <section class="strap">
            <div class="box">
            <button type="button" class="btn change-flight-button" data-toggle="modal" data-target="#modalLeft">
            <change-time>
            See other flights
            </change-time>
          </button>
          </div>

              <div class="box">
                <div class="date">
                  <small>Date</small>
                  <strong>Tue, 15 march 2016</strong>
                  <div class="book-button">Book!</div>
                </div>
              </div>

            </section>
          </div>

          <%# MODAL TEST LEFT %>

          <!-- Button trigger modal -->

          <!-- Modal -->
          <div class="modal fade" id="modalLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Choose better times</h4>
                </div>
                <div class="modal-body">
                  <% trips = @trips_a %>
                  <% trips = trips.reject { |t| t.trip_id == @trip_a.trip_id } %>
                  <% trips.each do |trip| %>
                  <div class="flight-option">
                    <div class="outbound-option">
                      <h2 class="text-center">Outbound</h2>
                      <div class="airports-option text-center">
                        <%= trip.origin_airport  %> to <%= trip.destination_airport %>
                      </div>
                      <div class="hours-option text-center">
                        <%= trip.departure_time_there.strftime("%H:%M") %> <i class="fa fa-plane"></i> <%= trip.arrival_time_there .strftime("%H:%M")%>
                      </div>
                    </div>
                    <div class="return-option">
                      <h2 class="text-center">Return</h2>
                      <div class="airports-option text-center">
                        <%= trip.destination_airport %> to
                        <%= trip.origin_airport  %>
                      </div>
                      <div class="hours-option text-center">
                        <%= trip.departure_time_back.strftime("%H:%M") %> <i class="fa fa-plane"></i>
                        <%= trip.arrival_time_back.strftime("%H:%M") %>
                      </div>
                    </div>
                    <div class="price-option text-center">
                      <%= Constants::AIRLINES[trip.carrier] %>
                      <h4 class="text-center">€<%= trip.price %></h4>
                      <p style="color: <%= price_difference_styling(trip.price,@trip_a.price)%>"> <%= price_difference_text(trip.price, @trip_a.price) %></p>
                    </div>
                    <div class="option-select text-center">
                      <%= link_to controller: :offers, action: :show, right: @trips_b.index(@trip_b), left: @trips_a.index(trip) do %>
                      <button class="btn btn-primary">Select</button>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%# END MODAL TEST LEFT %>
        </div>
        <%# END LEFT PART %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%# RIGHT PART %>
        <div class="trip">

          <div class="boarding-pass">
            <header>
              <p class="logo">
                Alitalia
              </p>
              <div class="flight">
                <small>flight</small>
                <strong>AZ 356</strong>
              </div>
            </header>
            <section class="cities">
              <div class="city city-left">
                <small>Milano</small>

                <strong>LIN</strong>
              </div>
              <i class="fa fa-arrows-h" aria-hidden="true"></i>
              <div class="city city-right">
                <small>Paris</small>

                <strong>ORY</strong>
              </div>
            </section>
            <section class="infos">
              <div class="places">
                <div class="box">
                  <small class="box-title">Outbound</small>
                  <strong><3</strong>
                </div>
                <div class="box">
                  <small>Duration</small>
                  <strong>1h</strong>
                </div>
                <div class="box">
                  <small>Departure</small>
                  <strong>7:25</strong>
                </div>
                <div class="box">
                  <small>Arrival</small>
                  <strong>7:45</strong>
                </div>
              </div>
              <div class="times">
                <div class="box">
                  <small class="box-title">Return</small>
                  <strong><3</strong>
                </div>
                <div class="box">
                  <small>Duration</small>
                  <strong>1h30</strong>
                </div>
                <div class="box">
                  <small>Departure</small>
                  <strong>01:10</strong>
                </div>
                <div class="box">
                  <small>Arrival</small>
                  <strong>21:30</strong>
                </div>
              </div>
            </section>
            <section class="strap">
            <div class="box">
            <button type="button" class="btn change-flight-button" data-toggle="modal" data-target="#modalRight">
            <change-time>
            See other flights
            </change-time>
          </button>
          </div>

              <div class="box">
                <div class="date">
                  <small>Date</small>
                  <strong>Tue, 15 march 2016</strong>
                  <div class="book-button">Book!</div>
                </div>
              </div>

            </section>
          </div>

        <%# MODAL TEST RIGHT %>

        <!-- Modal -->
        <div class="modal fade" id="modalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose better times</h4>
              </div>
              <div class="modal-body">
                <%# TODO: this should all be refactored in the helper %>
                <% trips = @trips_b %>
                <% trips = trips.reject { |t| t.trip_id == @trip_b.trip_id } %>
                <% trips.each do |trip| %>
                <div class="flight-option">
                  <div class="outbound-option">
                    <h2 class="text-center">Outbound</h2>
                    <div class="airports-option text-center">
                      <%= trip.origin_airport  %> to <%= trip.destination_airport %>
                    </div>
                    <div class="hours-option text-center">
                      <%= trip.departure_time_there.strftime("%H:%M") %> <i class="fa fa-plane"></i> <%= trip.arrival_time_there .strftime("%H:%M")%>
                    </div>
                  </div>
                  <div class="return-option">
                    <h2 class="text-center">Return</h2>
                    <div class="airports-option text-center">
                      <%= trip.destination_airport %> to
                      <%= trip.origin_airport  %>
                    </div>
                    <div class="hours-option text-center">
                      <%= trip.departure_time_back.strftime("%H:%M") %> <i class="fa fa-plane"></i>
                      <%= trip.arrival_time_back.strftime("%H:%M") %>
                    </div>
                  </div>
                  <div class="price-option text-center">
                    <%= Constants::AIRLINES[trip.carrier] %>
                    <h4 class="text-center">€<%= trip.price %></h4>
                    <p style="color: <%= price_difference_styling(trip.price,@trip_b.price)%>"> <%= price_difference_text(trip.price, @trip_b.price) %></p>
                  </div>
                  <div class="option-select text-center">
                    <%= link_to controller: :offers, action: :show, right: @trips_b.index(trip), left: @trips_a.index(@trip_a) do %>
                    <button class="btn btn-primary">Select</button>
                    <% end %>
                  </div>
                </div>
                <div class="options-separator">
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%# END MODAL TEST RIGHT %>
      </div>
      <%# END RIGHT PART %>
    </div>
  </div>
  </div>
</div>
</div>
