<%# HEADER %>
<div class="page-wrapper" style="background: linear-gradient(to left, #FF5D3B , #FF2B67 )">
  <div class="show-banner-content text-center padded">
    <h1>Your halfway trips to <%= Constants::AIRPORTS[@offer.destination_city] %> between <%= @offer.date_there.strftime("%b %d") %> and <%= @offer.date_back.strftime("%b %d") %></h1>
    <p>“A journey is best measured in friends, rather than miles.”</p>
  </div>
<%# END HEADER %>

<%# LEFT PART %>
<div class="trips-container">
  <div class="trip">
    <h3 class="text-center">From <%= Constants::AIRPORTS[@offer.origin_a]%></h3>
    <div class="trips-details">
      <ul class= "list-inline ">
        <li><p><%= @trip_a.origin_airport %> <%= @trip_a.departure_time_there.strftime("%H:%M") %> -> <%= @trip_a.destination_airport %> <%= @trip_a.arrival_time_there.strftime("%H:%M") %></p></li>
      </ul>
      <div class="flights-separator">
      </div>
      <ul class= "list-inline second-result">
        <li><p><%= @trip_a.destination_airport %> <%= @trip_a.departure_time_back.strftime("%H:%M") %> -> <%= @trip_a.origin_airport %> <%= @trip_a.arrival_time_back.strftime("%H:%M") %></p></li>
      </ul>
    </div>
    <h3 class="text-center"><%= @trip_a.price %>€</h3>
      <div class="book-button">Book!</div>

      <%# MODAL TEST LEFT %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalLeft">
        Change flight options
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modalLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Choose better times</h4>
            </div>
            <div class="modal-body">
              <%# TODO: this should all be refactored in the helper %>
              <% trips = @trips_a %>
              <% trips = trips.reject { |t| t.trip_id == @trip_a.trip_id } %>
              <% trips.each do |trip| %>
                <%= link_to controller: :offers, action: :show, left: @trips_a.index(trip), right: @trips_b.index(@trip_b) do %>
                <%= trip.origin_airport  %>
                <%= trip.destination_airport %>
                <%= trip.departure_time_there %>
                <%= trip.arrival_time_there %>
                <br>
                <%= trip.destination_airport %>
                <%= trip.origin_airport  %>
                <%= trip.departure_time_back %>
                <%= trip.arrival_time_back %>
                <br>
                <%= trip.price %>
                <%= " Difference: #{(trip.price - @trip_a.price).round(2)}" %>
                <% end %>
                <br>
                <br>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <%# END MODAL TEST LEFT %>
  </div>
  <%# END LEFT PART %>

  <div class="trip-separator"></div> <%# MIDDLE OF THE SCREEN IS HERE %>

    <%# RIGHT PART %>
    <div class="trip text-center">
    <h3 class="text-center">From <%= Constants::AIRPORTS[@offer.origin_b] %></h3>
    <div class="trips-details">
      <ul class= "list-inline ">
        <li><p><%= @trip_b.origin_airport %> <%= @trip_b.departure_time_there.strftime("%H:%M") %> -> <%= @trip_b.destination_airport %> <%= @trip_b.arrival_time_there.strftime("%H:%M") %></p></li>
      </ul>
      <div class="flights-separator">

      </div>
      <ul class= "list-inline second-result">
        <li><p><%= @trip_b.destination_airport %> <%= @trip_b.departure_time_back.strftime("%H:%M") %> -> <%= @trip_b.origin_airport %> <%= @trip_b.arrival_time_back.strftime("%H:%M") %></p></li>
      </ul>
    </div>
    <h3 class="text-center"><%= @trip_b.price%>€</h3>
      <div class="book-button">Book!</div>

      <%# MODAL TEST RIGHT %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalRight">
        Change flight options
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Choose better times</h4>
            </div>
            <div class="modal-body">
              <%# TODO: this should all be refactored in the helper %>
              <% trips = @trips_b %>
              <% trips = trips.reject { |t| t.trip_id == @trip_b.trip_id } %>
              <% trips.each do |trip| %>
                <%= link_to controller: :offers, action: :show, right: @trips_b.index(trip), left: @trips_a.index(@trip_a) do %>
                <%= trip.origin_airport  %>
                <%= trip.destination_airport %>
                <%= trip.departure_time_there %>
                <%= trip.arrival_time_there %>
                <br>
                <%= trip.destination_airport %>
                <%= trip.origin_airport  %>
                <%= trip.departure_time_back %>
                <%= trip.arrival_time_back %>
                <br>
                <%= trip.price %>
                <%= " Difference: #{(trip.price - @trip_b.price).round(2)}" %>
                <% end %>
                <br>
                <br>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
     <%# END MODAL TEST RIGHT %>
    </div>
    <%# END RIGHT PART %>
  </div>
</div>
